//META{"name":"Cute_But_Deadly_Tracer_theme","description":"#TeamTracer","author":"Aya","version":"1.2"}*//


.app,
.callout-backdrop {
    background:url(https://i.imgur.com/Kp1xpQ8.jpg) !important;
    background-size:cover !important;
}
.divider > span {
    background: none !important;
}
.divider > div {
    height: 2px !important;
}
.layer, .layers {
    background: transparent !important;
}
/*
li.selected, span >div.selected, section > div > div > div > div > div.selected, .friends-row:hover, li.channel-text:hover, div.channel.private:hover, .btn-friends:hover, .messages .markup pre code.hljs, .member:hover {
    background: rgba(60, 60, 60, .2) !important;
}
.messages .markup code.inline {
    background: rgba(60, 60, 60, .4) !important;
}
    */
.title-wrap, .messages-wrapper, .flex-spacer, .scroller, .account, .links, .guilds-wrapper, .btn-settings, .btn-deafen, .btn-mute, .btn-info, .btn-disconnect, .typing, .private-channels, .search-bar, .friends-header, .friends-table, .messages .markup pre, #friends, #voice-connection, .guild-header header {
    background: transparent !important;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    border:3px solid rgba(255,255,255,0) !important;
    background-color:rgba(0,0,0,0.3) !important;
}
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border:3px solid rgba(255,255,255,0) !important;
    background-color:rgba(0,0,0,0.3) !important;
    visibility:hidden;
}

.guild-header ul {
    -webkit-transform: translate3d(0, -140%, 0) !important;
    transform: translate3d(0, -140%, 0) !important;
  }
.guild-header.guild-header-open ul {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }

/*server name text above channel names*/
.guild-header header span{
    color:#f99e1a;
    
    
    font-weight:800;
   /*text-shadow:0 0 15px #ff6a00;*/
    /*cool method for an outline+shadow*/
    text-shadow:1px 1px 0 #43484c,
-1px -1px 0 #43484c,
1px -1px 0 #43484c,
-1px 1px 0 #43484c,
0px 1px 0 #43484c,
1px 0px 0 #43484c,
0px -1px 0 #43484c,
0 0 15px #faf5ab,
-1px 0px 0 #43484c;
}
/*channel name above chat messages*/
.theme-dark .chat .title-wrap .channel-name{
    color:#f99e1a;
    font-weight:800;
    text-shadow:1px 1px 0 #43484c,
-1px -1px 0 #43484c,
1px -1px 0 #43484c,
-1px 1px 0 #43484c,
0px 1px 0 #43484c,
1px 0px 0 #43484c,
0px -1px 0 #43484c,
0 0 15px #faf5ab,
-1px 0px 0 #43484c;
}
/*user activity aka what game they are playing or w/e*/
.channel-members .member .member-activity strong{
    color:#f99e1a;
}

/*server members role names*/
.theme-dark .channel-members h2{
    color:#f99e1a !important;
}

/*chat messages*/
.theme-dark .friends-table .messages .message-group .comment .markup, .theme-dark .messages-wrapper .messages .message-group .comment .markup{
    color:#f99e1a;
    
    
    font-weight:800;
   /*text-shadow:0 0 15px #ff6a00;*/
    /*cool method for an outline+shadow*/
    text-shadow:1px 1px 0 #43484c,
-1px -1px 0 #43484c,
1px -1px 0 #43484c,
-1px 1px 0 #43484c,
0px 1px 0 #43484c,
1px 0px 0 #43484c,
0px -1px 0 #43484c,
0 0 20px #faf5ab,
-1px 0px 0 #43484c;
        
}

.theme-dark .friends-table .messages .message-group a, .theme-dark .messages-wrapper .messages .message-group a {
    text-shadow:none;
}
.highlight{
    text-shadow:none;
}

.theme-dark .friends-table .messages .message-group h2 strong, .theme-dark .messages-wrapper .messages .message-group h2 strong{

     text-shadow:1px 1px 0 rgba(0,0,0,0.7),
-1px -1px 0 rgba(0,0,0,0.7),
1px -1px 0 rgba(0,0,0,0.7),
-1px 1px 0 rgba(0,0,0,0.7),
0px 1px 0 rgba(0,0,0,0.7),
1px 0px 0 rgba(0,0,0,0.7),
0px -1px 0 rgba(0,0,0,0.7),
-1px 0px 0 rgba(0,0,0,0.7);
}
/*TEXT CHANNELS/VOICE CHANNELS text*/
.guild-channels header h2{
    color:#f99e1a !important;
    opacity:1 !important;
}
.guild-channels ul .channel a{
    color:#f99e1a !important;
    opacity:1 !important;
}
.guild-channels .channel a{
     color:#f99e1a !important;
    opacity:1 !important;
}
.guild-channels ul .channel-text.channel-muted:not(.selected) span{
    color:#f99e1a !important;
    opacity:1 !important;
}

.guild-channels .channel .channel-name{
    color:#f99e1a !important;
    opacity:1 !important;
}
/*selected text channel*/
.guild-channels ul .channel-text.selected a{
    color:#f99e1a !important;
    font-weight:800 !important;
    text-shadow:1px 1px 0 #43484c,
-1px -1px 0 #43484c,
1px -1px 0 #43484c,
-1px 1px 0 #43484c,
0px 1px 0 #43484c,
1px 0px 0 #43484c,
0px -1px 0 #43484c,
0 0 15px #faf5ab,
-1px 0px 0 #43484c;
    
}
.guild-channels .channel-text.selected a{
    color:#f99e1a !important;
    font-weight:800 !important;
    text-shadow:1px 1px 0 #43484c,
-1px -1px 0 #43484c,
1px -1px 0 #43484c,
-1px 1px 0 #43484c,
0px 1px 0 #43484c,
1px 0px 0 #43484c,
0px -1px 0 #43484c,
0 0 15px #faf5ab,
-1px 0px 0 #43484c;
}
/*unread channels */
.guild-channels ul .channel-text.unread:not(.selected):not(.channel-muted) a{
    color:#f99e1a;
}
/*text channel background/highlight*/
li.selected, span > div.selected, section > div > div > div > div > div.selected, .friends-row:hover, li.channel-text:hover, div.channel.private:hover, .btn-friends:hover, .messages .markup pre code.hljs, .member:hover {
    background: rgba(60, 60, 60, 0) !important;
}
/* clicks next to server icons for unread messages */
.guilds-wrapper .guilds .guild.unread:before
{
    background:#f99e1a;
}
/*clicks next to channel names for unread*/
.guild-channels ul .channel-text.unread:not(.selected):not(.channel-muted):before{
    background:#f99e1a !important;
}
.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before{
    background:#f99e1a !important;

}

/*text in voice channel while not talking*/
.guild-channels ul .channel-voice.audio li{
    color:#f99e1a !important;
}
.guild-channels .channel-voice-states li span
{
    color:#f99e1a !important;
}
.guild-channels ul .channel-voice-states li{
    color:#f99e1a !important;
}
/*voice connected text*/
#voice-connection .voice-connection-status-connected{
    color:#f99e1a;
    font-weight:800;
     text-shadow:1px 1px 0 #43484c,
-1px -1px 0 #43484c,
1px -1px 0 #43484c,
-1px 1px 0 #43484c,
0px 1px 0 #43484c,
1px 0px 0 #43484c,
0px -1px 0 #43484c,
0 0 15px #faf5ab,
-1px 0px 0 #43484c;
}
/*text of the channel you are connected to at the bottom*/
#voice-connection .voice-connection-channel{
    color:#f99e1a !important;
    opacity:1 !important;
}
/*voice channel text that you are connected to*/
.guild-channels ul .channel-voice.audio a {
    color:#f99e1a !important;
    font-weight:800;
    opacity:1 !important;
    text-shadow:1px 1px 0 #43484c,
-1px -1px 0 #43484c,
1px -1px 0 #43484c,
-1px 1px 0 #43484c,
0px 1px 0 #43484c,
1px 0px 0 #43484c,
0px -1px 0 #43484c,
0 0 15px #faf5ab,
-1px 0px 0 #43484c;
}
/* color of avatar outline when speaking*/
.guild-channels ul .channel-voice-states li.speaking .avatar-small{background-color:#6F8AE0;cursor:pointer;border:2px solid #f99e1a !important;}
.guild-channels .channel-voice-states li.speaking .avatar-small{
    background-color:#6F8AE0;cursor:pointer;border:2px solid #f99e1a !important;
}
/*color of name text when speaking*/
.guild-channels ul .channel-voice-states li.speaking{
    color:#f99e1a !important;
    text-shadow:1px 1px 0 #43484c,
-1px -1px 0 #43484c,
1px -1px 0 #43484c,
-1px 1px 0 #43484c,
0px 1px 0 #43484c,
1px 0px 0 #43484c,
0px -1px 0 #43484c,
0 0 15px #faf5ab,
-1px 0px 0 #43484c;
}

/*friends online text*/
.guilds-wrapper .guilds .friends-online{
    opacity:1;
    color:#f99e1a;
}
/*your account username and # at the bottom left*/
.account .account-details .discriminator{
    color:#f99e1a !important;
  

    opacity:1 !important;
    
}
.account .account-details .username{
    color:#f99e1a !important;
    font-weight:800;
    opacity:1 !important;
    text-shadow:1px 1px 0 #43484c,
-1px -1px 0 #43484c,
1px -1px 0 #43484c,
-1px 1px 0 #43484c,
0px 1px 0 #43484c,
1px 0px 0 #43484c,
0px -1px 0 #43484c,
0 0 15px #faf5ab,
-1px 0px 0 #43484c;
}
/*disconnect from chat button*/
#voice-connection .btn:after{

    -webkit-filter: brightness(50%) sepia(1) saturate(290%) brightness(120%);
    opacity:1;
}

#voice-connection .btn:hover{
    -webkit-filter: saturate(0%) brightness(2);
   
    opacity:1;
}

/*setting type things*/



.account .btn-group > *:after{

    /*
        h 36 -210  =-174
        s 100+ (90-6)=184
        l 100+ (73-41)=132
    */
    -webkit-filter: sepia(1) saturate(290%) brightness(120%);
   
    opacity:1;

    

}

.account .btn-group > *:hover:after{

    -webkit-filter: brightness(2);

    



}
.account .btn-settings:after{
    -webkit-filter: brightness(50%) sepia(1) saturate(290%) brightness(120%);

}
/*user muted icon*/
.guild-channels ul .channel-voice-states li .icon-muted{
        -webkit-filter: sepia(1) saturate(290%) brightness(120%);


}
/*user deafened icon*/
.guild-channels ul .channel-voice-states li .icon-deafened{
        -webkit-filter: sepia(1) saturate(290%) brightness(120%);

}
/*channel locked icon */
.guild-channels .icon-lock{
        -webkit-filter: brightness(50%) sepia(1) saturate(290%) brightness(120%);
    opacity:1;
}

/*instant invite icon */
.guild-channels .icon-instant-invite{
    -webkit-filter: brightness(50%) sepia(1) saturate(290%) brightness(120%);
    opacity:1;
}
/*voice channel arrows*/
.guild-channels ul .channel-voice .channel-arrow{
    -webkit-filter: brightness(50%) sepia(1) saturate(290%) brightness(120%);
}
/*add new voice/text channel + symbol*/
.guild-channels header button:after{
    -webkit-filter: brightness(50%) sepia(1) saturate(290%) brightness(120%);

}
/*server settings button*/
.btn-hamburger{
    -webkit-filter: brightness(50%) sepia(1) saturate(290%) brightness(120%);

}
/*curent server selected*/
.guilds-wrapper .guilds .guild.selected:before, .guilds-wrapper{
    background-color:#faf5ab;
    
}
/*chatbox text*/
.channel-textarea-inner textarea{
    color:#f99e1a !important;
    font-weight:800 !important;
    text-shadow:1px 1px 0 #43484c,
-1px -1px 0 #43484c,
1px -1px 0 #43484c,
-1px 1px 0 #43484c,
0px 1px 0 #43484c,
1px 0px 0 #43484c,
0px -1px 0 #43484c,
-1px 0px 0 #43484c;

    
}


/*border around typing area*/
.theme-dark .channel-textarea-inner{
    border-color:rgba(249, 158, 26, 0.30) !important;

}
.channel-textarea-inner
{
    border:1px !important;
}
/*border next to upload button*/
.theme-dark .channel-textarea-inner .channel-textarea-upload{
    border-right-color:rgba(249, 158, 26, 0.30) !important;
}

/*upload button*/
.theme-dark .channel-textarea-upload{
     -webkit-filter: brightness(50%) sepia(1) saturate(290%) brightness(120%);
}
/*buttons at top middle*/
.header-toolbar button span{
     -webkit-filter: brightness(50%) sepia(1) saturate(290%) brightness(120%);
    
}
/*windows minimize close buttons etc.*/
.win-buttons{
     -webkit-filter: brightness(50%) sepia(1) saturate(290%) brightness(120%);

}
/*the # before channel name*/
.chat>.title-wrap>.title .channel-name:before{
        color:#f99e1a !important;
}
/*the # before channel name in channel list*/
.guild-channels ul .channel-text .channel-name:before{
        color:#f99e1a !important;
}
/*text next to channel name above chat*/
.theme-dark .chat .title-wrap .topic{
    color:rgba(249, 158, 26, 0.30) !important;
}
/*border bottom under channel title at top of chat*/
.theme-dark .chat .title-wrap{
    border-bottom-color:rgba(249, 158, 26, 0.30) !important;
}
/*box shadow*/
.chat>.title-wrap
{
    box-shadow:none !important;
}
/* public button at top left*/
.guilds-wrapper .guilds .guild .guild-inner a #bd-pub-button
{
        color:#f99e1a !important;
    
}
/*popout when you click a username*/
.user-popout .header{
    
    opacity:1;
}

.container-RYiLUQ,
.wrapper-2ldvyE,
.private-channels .channel.selected a,
.private-channels .channel:hover a
{
    background: transparent !important;    
}
.contentSelectedText-3j5CXt,
.contentHoveredText-2HYGIY, 
.contentHoveredVoice-3qGNKh:active, 
.contentSelectedVoice-gTtYM9:active{
    background-color: rgba(0,0,0,.3);
}

.tooltip.tooltip-black, .tooltip.tooltip-white {
    background-color: #f99e1a;
    color: #000000;
    font-size: 0.75em;
    opacity: 0.8;
}

.tooltip.tooltip-black.tooltip-right::after, .tooltip.tooltip-white.tooltip-right::after {
    border-right-color: #f99e1a;
    opacity: 0.8;
    background: transparent;
}

.tooltip.tooltip-black.tooltip-top::after, .tooltip.tooltip-white.tooltip-top::after {
    border-top-color: #f99e1a;
    opacity: 0.8;
    background: transparent;
}

.container-2OU7Cz, .channels-3g2vYe, .theme-dark .chat form, .theme-dark .headerBar-cxbhPD, .theme-light .chat form, .theme-light .headerBar-cxbhPD {
    background: transparent;
}

.channels-3g2vYe {
   background-image:url(https://i.imgur.com/JEU8Jd7.png);
   background-repeat:no-repeat !important;
   background-size:contain !important;
   background-position:center !important;
}

.channel-members {
    background: transparent !important;
}

.channel-members-wrap {
    background-image:url(https://i.imgur.com/DDjatA8.png);
    background-repeat:no-repeat !important;
    background-size:contain !important;
    background-position:center !important;
}

.accountDetails-15i-_e {
    color: #f99e1a;
}